.vscode

# python
__pycache__
*.pyc
.pytest_cache/
coverage_html_report/
.coverage*
.ipynb_checkpoints
venv/
env/
*.log
.keras/
.bash_history

# flask
*/instance/
dist/
build/
*.egg-info/
*/credentials/*

# nltk
nltk_data/

# domino
.domino*
.noLock
.DS_Store
dataset
domino*
.idea
*.swp
models
logs
syncTo*.sh

reports/*test.csv
reports/test*
reports/pre-network-history/*

# don't track these template reports
reports/template-feature_generator-report.csv
reports/template-hyperparameter_tuning-report.csv
reports/template-model_selection-report.csv
reports/template-run_classifiers-report.csv
reports/*feature_generator*.csv
report/2019-07*.csv
report/2019-08*.csv
report/*99-histogram.csv

# don't track log files
tools/log*

# don't track notes
notes*

# generally don't track pkl files
*.pkl

# white papers
white_papers

# services-gcp
services/util

# paperspace - ignore util since we are copying from /util directory
paperspace/train/util/*
paperspace/models/*

# service on paperspace
services-paperspace/util
services-paperspace/models

# sphinx
docs/source/_*
docs/build/*
