.vscode

# python
__pycache__
*.pyc
.pytest_cache/
.coverage*
.ipynb_checkpoints
venv/
env/
*.log
.keras/
.bash_history

# flask
*/instance/
dist/
build/
*.egg-info/

# nltk
nltk_data/

.domino*
.noLock
.DS_Store
dataset
domino*
.idea
*.swp
models
logs

