.vscode

# python
__pycache__
*.pyc
.pytest_cache/
.coverage*
.ipynb_checkpoints
venv/
env/
*.log

# flask
*/instance/
dist/
build/
*.egg-info/

.domino*
.noLock
.DS_Store
dataset
domino*
.idea
*.swp
models
logs

